.form-columns {
  display: flex;
}

.form-col {
  width: 50%;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.form-row {
  margin-bottom: 30px;
}

.form-btns {
  display: flex;
  justify-content: flex-end;
}

.btn {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}