.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.item {
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
}

.item-works: last-child {
  margin-bottom: 1.875rem;
}

.form {
  margin-bottom: 30px;
}