.menu {
  display: flex;
  width: 100%;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.menu__list--vertical {
  height: 64%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;  
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}