.popup-menu
  button.hamburger.hamburger--vortex
    span.hamburger-box
      span.hamburger-inner
  .header__menu
    nav.menu
      ul.menu__list
        - var menuLinks = ["About me", "Skills", "Works", "Reviews"];
        each item in menuLinks 
          li.menu__item
            a(href="#").menu__link #{item}
  .header__buttons
    ul.socials
      - var socials = ['insta', 'vk', 'github', 'envelope'];
      each item in socials
        li.socials__item
          a(href=`${item === 'envelope' ? 'mailto:myMale@yandex.ru' : '#'}`, target="_blank").socials__link
            +icon(item, 'socials__icon')

//- script(type="text/x-template")#hamburger-container
//-   button(
//-     type="button"
//-     @click="changedClass"
//-   ).hamburger.hamburger--vortex(
//-     :class="[{isActive : changed}]"
//-     )
//-     span.hamburger-box
//-       span.hamburger-inner