//- script(type="text/x-template")#hamburger-container
//-   button(
//-     type="button"
//-     @click="changedClass"
//-   ).hamburger.hamburger--vortex(
//-     :class="[{isActive : changed}]"
//-     )
//-     span.hamburger-box
//-       span.hamburger-inner