script(type="text/x-template")#slider-container
  .works-slider
    display(
      :currentWork="currentWork",
      :works="works",
    )
    info(
      :currentWork="currentWork"
    )

script(type="text/x-template")#slider-display
  .works-slider__pics(:data-slide="1")
    .works-slider__pics-content
      img(:src="currentWork.photo" :key="currentWork.id").works-slider__fullpic
      thumbs(
        :works="works"
        :currentWork="currentWork"
      )
      btns

script(type="text/x-template")#slider-thumbs
  ul.works-slider__thumbs
    li.works-slider__thumb-item(
      v-for="slide in works" :key="slide.id"
      :class="{active: currentWork.id === slide.id}"
    )
      button.works-slider__thumb-link
        img(:src="slide.photo").works-slider__thumb

script(type="text/x-template")#slider-btns
  .works-slider__buttons
    a(href="#" @click.prevent="$emit('slide', 'next')").works-slider__btn.works-slider__btn_next
    a(href="#" @click.prevent="$emit('slide', 'prev')").works-slider__btn.works-slider__btn_prev

script(type="text/x-template")#slider-info
  .works-slider__info
    ul.works-slider__tags
      tags
    .works-slider__title {{currentWork.title}}
    .works-slider__desc
      p {{currentWork.desc}}
    .works-slider__link 
      a(href="currentWork.link").iconed-link View the website

script(type="text/x-template")#slider-tags
  ul.works-slider__tags(v-if="tags.length")
    li.works-slider__tag-item(v-for="tag in tags")
      .tag {{tag}}