@import "../../../styles/mixins.pcss";

.page-title {
  @include phones {
    margin-bottom: 30px;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: calc(100% / 2 - 30px);
  margin-right: 30px;

  @include phones {
    width: 100%;
    margin-right: 0;
  }
}

