@import "../../../styles/mixins.pcss";

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.item {
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
  margin-bottom: 15px;

  @include tablets {
    width: calc(100% / 2 - 20px);
  }

  @include phones {
    width: 100%;
  }
}

.form {
  margin-bottom: 30px;
}